#about{
    background-color: #100f0f;
    padding: 2em 5em;
    text-align: left;

}

#about h1{
    color: #e7e8ea;
    margin-bottom: 0.5em;
    margin-top: 5em;
}

#about h2{
    color: #ffcd39 ;
}

#about p{
    max-width: 400px;
    text-align: left;
    color: #fff;
}

/* mobile responsiveness */
@media (max-width: 768px) {
    #about p{
        padding: 0 1em;
    }
    
}