#about{
    background-color:  #100F0F;
    text-align: left;
    display: flex;
    justify-content: space-around;
}

#about h1{
    color: #e7e8ea;
    margin-bottom: 0.5em;
    margin-top: 0.3em;
    font-size: 3.5em;
}
#about h2{
    color:#fff ;
    font-size: 3em;
}

#about h2 span{
    color: black;
    background-color: #F9DC5C;
}

#about p{
    max-width: 400px;
    text-align: left;
    color: #fff;
    font-size: 1em;
}

.Container2{
    max-width: 600px;
    padding: 2em;
}

#about img{
    max-width: 400px;
    border-radius: 5px;
    padding-bottom: 3em;
}



@media (max-width: 768px) {


    #about{
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    #about p{
        font-size: 0.9em;
        text-align: center;
    }

    #about h1{
        margin-top: 1em;
        font-size: 2.5em;
    }
    
    #about h2{
        font-size: 1.9em;
    }


    img{
        margin-top: 3em;
       
    }

    #about img{
       max-width: 350px;
    }
}