#contact{
    background-color: #7f5d5d;
    padding: 2em 0;
    text-align: center;
    
}

#contact h1{
    color: #fff;
    margin-bottom: 1em;
}

#contact p{
    max-width: 600px;
    margin: 0 auto 1.5em;
    
}

#contact a{
display: inline;    
padding: 0.5em 1em;
transition: background-color 0.3s;
text-decoration: none;
color: rgb(240, 240, 25);
cursor: pointer;
}

#contact a:hover{
    background-color: rgb(58, 26, 26);
    border-radius: 4px;
    
}
