.contact {
  background-color: #000;
  color: #fff;
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.connect-section {
  padding: 20px;
}

.skills-header3{
  position: relative;
  display: inline-block;
}
.connect {
  font-size: 8rem;
  font-weight: bold;
  margin: 0;

}

.dot2 {
  color:  #F9DC5C;
}

.contacts-text{
    color: #EEEEEE;
    margin: 0;
    top: 51%;
    left: 55%;
    position: absolute;
    font-size: 20px;
}

.contact-button {
  background-color: #444;
  border: none;
  color: white;
  padding: 20px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 0;
  cursor: pointer;
  border-radius: 20px ;
  margin-top: 2rem;
}

.contact-button:hover{
    background-color: #F9DC5C;
    color: black;
}
.icons {
  display: flex;
  justify-content: center;
  gap: 5rem;
  margin-top: 2rem;
}
.icons img {
  width: 40px;
  height: 40px;
}
@media (max-width: 768px) {
    .icons img{
        width: 20px;
        height: 20px;
        margin-top: 1rem;
    }

    .icons{
        gap: 1.5rem;
    }

    .contact{
        height: 80vh;
        display: flex;
        justify-content: center;
    }

    .connect{
      font-size: 6rem;
    }
}