.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
  background-color: #007bff;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.navbar-logo a {
  font-size: 1.5em;
  font-weight: bold;
  color: white;
  text-decoration: none;
}
.navbar-links {
  display: flex;
  list-style: none;
}
.navbar-links li {
  margin: 0 15px;
}
.navbar-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}
.navbar-links a:hover {
  color: #ffcd39;
}
.navbar-toggle {
  display: none;
  font-size: 1.5em;
  cursor: pointer;
}


/* Mobile Responsiveness */

@media (max-width: 768px) {
  .navbar-links {
    display: none;
    flex-direction: column;
    text-align: center;
    width: 100%;
    background-color: #007bff;
    position: absolute;
    top: 100%;
    left: 0;
  }
  .navbar-links.open {
    display: flex;
  }
  .navbar-links li {
    margin: 10px 0;
  }
  .navbar-toggle {
    display: block;
  }
}
