.Projects{
  background-color: #fff;
}


.Projects h2 {
  color: black;
   align-items: center;
   position: absolute;
   text-align: center;
   margin-top: 7.5em;
   margin-left: 8em;
   font-size: 3em;


}

.skills-header1 {
  overflow: hidden;
  display: flex;
  align-items: right;
  justify-content: right;

}


.skills-header1 h3 {
  font-size: 10em;
  color: #bebcbc;
  margin-top: 2em;
  margin-right: 2em;
  max-width: 300px;

  
}

.my-skills1{
  font-size: 6rem;
  font-weight: bold;
  margin: 0;
  animation: slideIn 5s ease-in-out;
}

.dot1 {
  color: yellow;
  position: relative;
  top: -0.1em;
  left: -3em;
}
