.projects {
  padding: 40px 10px;
  background-color: #333;
  color: white;
  margin-top: 2em;
}

.projects-header {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}

.projects-header h2 {
  font-size: 4em;
  color: white;
}

.projects-grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10em;
}

.project-card {
  background: #444;
  padding: 20px;
  margin: 6px;
  border-radius: 10px;
  text-align: left;
  height: 380px;
  max-width: 500px;
}
.project-card:hover {
  transform: translateY(-5px);
  
}

.project-card img {
  max-width: 100%;
  border-radius: 10px;
}

.project-card h4 {
  margin: 10px 0;
  color: #EEEEEE;
}

.project-links {
  display: flex;
  gap: 1rem;

}

.project-link {
  background: #1E1E1E;
  padding: 10px 20px;
  border-radius: 5px;
  color: #CBCBCB;
  text-decoration: none;
}

.project-link:hover {
  background: #555;
}

@media (max-width: 768px) {
  .projects-header h2 {
    font-size: 2em;
  }

  .project-card {
   max-width: 420px;
   height: 320px;
  }
}

@media (max-width: 480px) {
  .project-card {
    width: calc(100% - 40px);
  }
}
