.projects {
  padding: 40px 10px;
  background-color: #333;
  color: white;
  margin-top: 2em;
}

.skills-header1 h3 {
  font-size: 4em;
  color: #EEEEEE;
  text-align: right;
  align-items: right;
  margin-top: 12.6rem;
  margin-right: 5em;
  font-size: 3em;
  position: absolute;
}


.skills-header1 {
  /* overflow: hidden; */
  display: flex;
  align-items: right;
  justify-content: right;
  margin-right: 20rem;
}

.skills-header1 h2 {
  font-size: 12rem;
  max-width: 440px;
  margin-left: 0.9em;
  color: #444;
}

.my-skills1 {
  font-size: 6rem;
  font-weight: bold;
  margin: 0;
  animation: slideIn 5s ease-in-out;
}


.dot1 {
  color: #F9DC5C;
  position: relative;
  top: -0.55em;
  left: -1.9em;
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.projects-grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10em;
}

.project-card {
  background: #444;
  padding: 20px;
  margin: 6px;
  border-radius: 10px;
  text-align: left;
  height: 380px;
  max-width: 500px;
}
.project-card:hover {
  transform: translateY(-5px);
  
}

.project-card img {
  max-width: 100%;
  border-radius: 10px;
}

.project-card h4 {
  margin: 10px 0;
  color: #EEEEEE;
  font-family: "inter";
}

.project-links {
  display: flex;
  gap: 1rem;

}

.project-link {
  background: #1E1E1E;
  padding: 10px 20px;
  border-radius: 5px;
  color: #CBCBCB;
  text-decoration: none;
  margin-top: 1em;
  font-family: "inter";
}

.project-link:hover {
  background: #555;
}

@media (max-width: 768px) {

  .project-card {
   max-width: 420px;
   height: 320px;
  }

  .projects-grid{
    margin-left: 1em;
  }

  .skills-header1 h2 {
    font-size: 5rem;
    max-width: 100px;
    margin-left: 1.3em;
    color: #444;
  }

  .skills-header1 h3 {
    font-size: 1.5em;
    color: #EEEEEE;
    text-align: right;
    align-items: right;
    margin-top: 5rem;
    margin-left: 2.4em;
    position: absolute;
  }
  .skills-header1{
    display: flex;
   align-content: left;
   justify-content: left;
  }
}

@media (max-width: 480px) {
  .project-card {
    width: calc(100% - 40px);
  }
}
