.skills {
  padding: 40px 20px;
  background-color: #333;
  color: white;
  text-align: center;
  margin-top: 2em;
}

.skills h3{
    color: white;
}

.skills-header {
  position: relative;
  overflow: hidden;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.my-skills {
  font-size: 6rem;
  font-weight: bold;
  margin: 0;
  animation: slideIn 5s ease-in-out infinite;
}
.highlight {
  position: relative;
  display: inline-block;
}
.highlight::after {
  content: "•";
  position: absolute;
  top: -10px;
  right: -10px;
  color: #ffd700;
  font-size: 2rem;
  animation: bounce 1s infinite alternate;
}
@keyframes slideIn {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
.skills-grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
}
